<div class="container   align-items-center justify-content-center">
    <div class="card">
      <div class="card-header text-center">RisikoLebensversicherung (RLV) – Schon ab 2,32 € mtl.</div>
  
      <div class="card-body">
        <div class="row">
          <div class="col-12  text-center">
  
                  <button class="btn btn-danger btn-sm"  [routerLink]="['/start/menu']"> JETZT BERECHNEN</button>
          </div>
          </div>
      </div>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>



