<!-- p>https://www.bezkoder.com/angular-17-form-validation/</p -->

<div class="container">
  <div class="card">
    <div class="card-header">
      Risikolebensversicherung - jetzt berechnen und Angebot anfragen
    </div>

    <div class="card-body" appStepper>
      <div class="row">
        <!-- div class="col-4">
              <button class="btn btn-outline-secondary " id="step1" [routerLink]="['/home/step1']">Stepper 1</button>
  
          </div>
          <div class="col-4">
              <button class="btn btn-outline-secondary " id="step2" [routerLink]="['/home/step2']" >Stepper 2</button>
          </div>
          <div class="col-4">
              <button class="btn btn-outline-secondary " id="step3" [routerLink]="['/home/step3']">Stepper 3</button>
          </div -->
        <div class="col-12">
          <div class="stepper-wrapper">
            <div class="stepper-item completed" id="step1">
              <div class="step-counter">
                <a [routerLink]="['/start/menu/perseonliche-angaben']"> 
                  <i class="bi bi-patch-question"></i>
                 </a>
              </div>
              
              <div class="step-name">Fragen zu Ihrer Person</div>
            </div>
            <div class="stepper-item completed" id="step2">
              <div class="step-counter">
                <a [routerLink]="['/start/menu/tarif']"> <i class="bi bi-wallet2"></i> </a>
              </div>
              <div class="step-name">Absicherungsgewünscht</div>
            </div>
            <div class="stepper-item" id="step3">
              <div class="step-counter">
                <a [routerLink]="['/home/menu/tarif']">  <i class="bi bi-person-check-fill"></i> </a>
              </div>
              <div class="step-name">Persönliche Angaben</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">
                <a [routerLink]="['/start/menu/']"> <i class="bi bi-receipt"></i> </a>
              </div>
              <div class="step-name">Zusammenfassung</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <hr />
        <router-outlet></router-outlet>
      </div>
      <div class="col-2">
        <hr />
        <app-versicherungs-beitrag></app-versicherungs-beitrag>
        <hr />
        <app-versicherungs-beitrag></app-versicherungs-beitrag>
      </div>
    </div>
  </div>
</div>
